@font-face {
    font-family: "MOOD MKII";
    src: url(../font/MOOD\ MKII.ttf) format('truetype');
}

.logo {
    width: 50px;
    height: 50px;
    position: flex; 
}

h1{
    font-family: "MOOD MKII";
    text-align: center;
    color: rgb(240, 235, 235);
}

img {
    max-width: 100vw;
    max-height: 100vh;
}
.door{
    width: 250px;
    height: 265px;
    border: 10px;
    border-color: rgb(0, 0, 0);
    margin: auto;
    border-radius:1dvh;
    box-shadow: 1px 1px 12px #ffffff;
}
#picturematrix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: normal;
    border: 10px;
    border-color: black;
    margin: auto;
    padding: 1px 65px 85px 65px;
    align-items: center;   /* rivien keskitystä*/
    justify-content: center; /* rivien keskitystä */

}

.box {
    height: 300px;
    width: 250px;
    padding: 7px;
    border: 3px;
    border-color: black;
    flex-basis: 20%; /* Yritys saada 4kpl ovia per rivi */

}
body{
    background-image: url(/pictures/Tausta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
}
#1 {
    border-radius: 5%;
}